<h1>Test Chat App</h1>

<!-- Chat View -->
<ul id="chat_area"></ul>

<!-- Post form -->
<p>
<input id="name" type="text" value="Anonymous">
<input id="comment" type="text">
<input id="send" type="button" value="send">
</p>

<!-- Server settings -->
Server:
<input id="url" type="text" value="127.0.0.1">
<input id="url-changed" type="button" value="change">
